<h2> Welcome to our site,
<%= current_user %> </h2>

<h2>See this link</h2><%= redirect_to controller: "secrets", action: "show" %>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
